
body{
	margin: 0;
	padding:0;
	verflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
	background: url("../images/bg1.jpg") no-repeat;
	background-size: 100% auto;
	/*-webkit-background-image: url("../images/bg.jpg");*/
	-webkit-background-size: 100% auto;

}
  .contain{
	  margin:50px;
	  /*height: 1200px;*/
	  width: 90%;
	  padding: 0;
	  background: #eceef3;
  }
  .main{
	  display: flex;
	  flex-direction: row;
	  position: absolute;
	  background:#ff91de;
	  border:6px solid #000000;
	  width:1100px;
	  height:680px;
	  z-index: 10;
	  margin-left: 90px;
  }
  .main-bg{
	  position: absolute;
	  background:#65cfff;
	  border:6px solid #000000;
	  width:1100px;
	  height:680px;
	  left: 120px;
	  top:100px;
	  z-index: 9;
  }
/*#ff91de*/
  .box1-left{
	  width: 110px;
	  height: 680px;
	  display: flex;
	  flex-direction: column;
	  background: #ff91de;
	  z-index: 11;
  }


  /*transform: rotate(45deg);*/
/*.box1-left div:hover,.center-box-top div:hover,.center-box-bottom div:hover,.box3-right div:hover{
	border:2px solid #00b6ff;
	box-shadow:0 1px  1px #ffffff;
}*/
 .selected {
	 transform: scale(1.3);
 }


  .box2-center{
	  width: 880px;
	  height:680px;
	  background: #ff91de;
	  display: flex;
	  flex-direction: column;
	  z-index: 11;
  }
  .center-box-top{
	  height: 120px;
	  display: flex;
	  flex-direction: row;
	  z-index: 11;
  }
  .center-box-center{
	  height: 440px;
	  width: 860px;
	  background:#65cfff;
	  border:6px solid #000000;
	  z-index: 11;
	  display: flex;
	  flex-direction: row;
  }
  .center-box-bottom{
	  height: 120px;
	  width:880px;
	  z-index: 11;
	  display: flex;
	  flex-direction: row;
  }
  .box3-right{
	  width: 110px;
	  height:680px;
	  background: #ff91de;
	  display: flex;
	  flex-direction: column;
	  z-index: 11;
  }

.center-box-center-left{
	width: 45%;
	height: 440px;
	z-index:12;
	float: left;
}
.center-box-center-center{
	/*width: 30%;*/
	height: 440px;
	z-index:12;
}
.center-box-center-right{
	width:50%;
	height: 440px;
	z-index:12;
}

.bet{
	height: 50px;
	font-size:50px;
	color:#f6ff00;
	letter-spacing:0;
	text-align:center;
	font-weight: 800;
	margin-top: 5px;
	text-shadow: 5px 5px 5px #000000;
}
.bet-num{
	font-size:50px;
	color:#ffffff;
	letter-spacing:0;
	text-align:center;
	font-weight: 900;
	margin-top: 50px;
	box-shadow: 0 5px 0 #23a4ff;
	width: 100px;
	margin-left: 130px;
	margin-bottom: 50px;
}
.bet-num .tooltiptext{
	visibility: hidden;
	font-size: 20px;
	position: absolute;
	text-align: center;
	border-radius: 10px;
	width: 200px;
	background: #ffffff;
	margin-left: -60px;
}
.bet-num:hover .tooltiptext{
	visibility: visible;
	color: #00b6ff;
}
.big{
	height:60px;
	font-size:60px;
	color:#ff69b0;
	letter-spacing:0;
	text-align:left;
	font-weight: 800;
	margin-top: 100px;
	text-shadow: 5px 5px 5px #000000;
}
.big input{
	width: 250px;
	height: 50px;
	line-height: 50px;
	font-size: 22px;
	border-radius: 25px;
	text-align: center;
}
.cirlce-left{
	background-image: linear-gradient(-180deg, #ff7878 0%, #fc4444 100%);
	box-shadow: 2px 2px 0 0 rgba(75,75,75,0.50);
	width: 32px;
	height: 32px;
	border-radius: 100%;
	margin-right: 20px;
	position: relative;
	left: 150px;
	margin-top: 20px
}

.center-num{
	/*font-size: 70px;
	color: #ffffff;
	letter-spacing: 0;
	text-align: center;
	bottom: 130px;
	position: absolute;
	align-items: center;
	margin-left: 60px;
	font-weight: 900;
	border-bottom: 5px solid #23a4ff;*/
	height: 50px;
	font-size:50px;
	color:#f6ff00;
	letter-spacing:0;
	text-align: center;
	font-weight: 800;
	margin-top: 332px;
	text-shadow: 5px 5px 5px #000000;
}

.center-num input{
	width: 250px;
	height: 50px;
	line-height: 50px;
	font-size: 22px;
	border-radius: 25px;
	text-align: center;
}
.credits{
	height: 50px;
	font-size:60px;
	color:#f6ff00;
	letter-spacing:0;
	text-align:center;
	font-weight: 800;
	margin-top: 5px;
	text-shadow: 5px 5px 5px #000000;
}
.credits-num{
	font-size: 50px;
	color: #ffffff;
	letter-spacing: 0;
	text-align: center;
	font-weight: 900;
	margin-top: 50px;
	box-shadow: 0 5px 0 #23a4ff;
	width: 100px;
	margin-left: 40%;
	margin-bottom: 50px;
}
.small{
	height:60px;
	font-size:60px;
	color:#ff69b0;
	letter-spacing:0;
	text-align:right;
	font-weight: 800;
	margin-top: 100px;
	text-shadow: 5px 5px 5px #000000;
}
.small input{
	width: 250px;
	height: 50px;
	line-height: 50px;
	font-size: 22px;
	border-radius: 25px;
	text-align: center;
}

.center-num input{
	width: 250px;
	height: 50px;
	line-height: 50px;
	font-size: 22px;
	border-radius: 25px;
}
.cirlce-right{
	background-image: linear-gradient(-180deg, #ff7878 0%, #fc4444 100%);
	box-shadow: 2px 2px 0 0 rgba(75,75,75,0.50);
	width: 32px;
	height: 32px;
	border-radius: 100%;
	margin-right: 20px;
	position: relative;
	left: 150px;
	margin-top: 20px
}


.bottom-bg{
	height: 550px;
	width: 1200px;
	margin-top: 350px;
	position: absolute;
	/*background: url("../images/Triangle1x.png");*/
}

.spin{
	background-image:linear-gradient(-180deg, #fdff71 0%, #ffeb00 100%);
	border:6px solid #000000;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.50), inset 0 1px 3px 0 rgba(255,255,255,0.50);
	border-radius:8px;
	width:177px;
	height:67px;
	z-index: 12;
	position: absolute;
	bottom: 70px;
	left:400px;
	font-size: 30px;
	color:#000000;
	letter-spacing:0;
	text-align:center;
	font-weight: 700;
	box-shadow: 10px 10px 2px #000;
}

.gen{
	background-image:linear-gradient(-180deg, #fdff71 0%, #ffeb00 100%);
	border:6px solid #000000;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.50), inset 0 1px 3px 0 rgba(255,255,255,0.50);
	border-radius:8px;
	width:177px;
	height:67px;
	position: absolute;
	bottom: 70px;
	left:600px;
	font-size: 30px;
	color:#000000;
	letter-spacing:0;
	text-align:center;
	font-weight: 700;
	box-shadow: 10px 10px 2px #000;
}


.leave{
	background-image:linear-gradient(-180deg, #ff5757 0%, #ea0000 100%);
	border:6px solid #000000;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.50), inset 0 1px 3px 0 rgba(255,255,255,0.50);
	border-radius:8px;
	width:177px;
	height:67px;
	position: absolute;
	bottom: 70px;
	left: 1000px;
	font-size: 30px;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
	font-weight: 700;
    box-shadow: 10px 10px 2px #000;
}

.input-money{
	background-image:linear-gradient(-180deg, #ff5757 0%, #ea0000 100%);
	border:6px solid #000000;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.50), inset 0 1px 3px 0 rgba(255,255,255,0.50);
	border-radius:8px;
	width:177px;
	height:67px;
	position: absolute;
	bottom: 70px;
	left: 650px;
	font-size: 30px;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
	font-weight: 700;
	box-shadow: 10px 10px 2px #000;
}
.get-money{
	background-image:linear-gradient(-180deg, #ff5757 0%, #ea0000 100%);
	border:6px solid #000000;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.50), inset 0 1px 3px 0 rgba(255,255,255,0.50);
	border-radius:8px;
	width:177px;
	height:67px;
	position: absolute;
	bottom: 70px;
	left: 900px;
	font-size: 30px;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
	font-weight: 700;
	box-shadow: 10px 10px 2px #000;
}
.spin:hover,.gen:hover,.leave:hover,.input-money:hover,.get-money:hover{
	color: #65cfff;
	transform: scale(1.2)
}
.adorn-top{
	border: 12px solid #fff900;
	width: 12px;
	position: absolute;
	left: -40px;
	box-shadow: 0 12px 1px #000;
	top: 45px;
	transform: rotate(-20deg);
	z-index: 12;
}

.adorn-bottom{
	border: 12px solid #6ed9ff;
	width: 12px;
	position: absolute;
	left: -40px;
	box-shadow: 0 12px 1px #000;
	top: 95px;
	transform: rotate(-20deg);
	z-index: 12;
}

.horizontal-box{
	position: absolute;
	width: 50px;
	height: 10px;
	background: #000000;
	right: -45px;
	top: 150px;
	z-index: 12;
}

.vertical-box{
	position: absolute;
	width: 10px;
	height: 50px;
	background: #000000;
	right: -25px;
	top: 130px;
}

.music-play img{
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: 2px;
	margin: 2px;
	border-radius: 100%;
	/*background: url("../images/pause.jpg") no-repeat;*/
}
.music-play img:hover{
	transform: scale(1.2);
}


.header-content{
	width: 100%;
	margin: 5px;
}
.header-content ul{
	display: none;
	display:flex;
	flex-direction: row;
}
.header-content ul li{
	display: inline-block;
	width: 200px;
	color: #ffffff;
	font-size: 18px;
}
li a{
	/*text-decoration: none;*/
	color: #ffffff;
}
.header-content ul li:hover{
	color: blue;
}
li a:hover{
	color: blue;
}
